<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution
				id="modularizator.popup.object"
				objectClass="java.lang.Object">
			<menu
				label="Modularizator"
				id="modularizator.menu1">
				<separator
						name="group1">
				</separator>
			</menu>
			<action
					id="modularizator.object.modularize"
					label="Modularize"
					icon="icons/modularize.gif"
					class="modularizator.actions.ModularizeAction"
					menubarPath="modularizator.menu1/group1">
			</action>
			<action
					id="modularizator.object.clear"
					label="Clear Markers"
					icon="icons/clear.gif"
					class="modularizator.actions.ClearAction"
					menubarPath="modularizator.menu1/group1">
			</action>
			<action
					id="modularizator.object.score"
					label="Score"
					icon="icons/score.gif"
					class="modularizator.actions.ScoreAction"
					menubarPath="modularizator.menu1/group1">
			</action>
			<action
					id="modularizator.object.visualize"
					label="Visualize"
					icon="icons/visualize.gif"
					class="modularizator.actions.VisualizeAction"
					menubarPath="modularizator.menu1/group1">
			</action>
			<action
					id="modularizator.object.fixall"
					label="Fix All"
					icon="icons/fixall.gif"
					class="modularizator.actions.FixAllAction"
					menubarPath="modularizator.menu1/group1">
			</action>
		</objectContribution>
	</extension>
	<extension id="modularizator.markers.problem" point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.core.resources.problemmarker"/>
		<persistent value="true"/>
		<attribute name="newsource"/>
	</extension>
	<extension point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
				class="modularizator.quickfix.QuickFixer"
				markerType="modularizator.markers.problem">
	</markerResolutionGenerator>
	</extension>
	<extension point="org.eclipse.ui.views">
		<view id="modularizator.views.propertiesview"
				name="Modularizator Properties View"
				class="modularizator.views.PropertiesView"
				icon="icons/view.gif"/>
	</extension>
</plugin>
