<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.popupMenus"> 
      <objectContribution 
            id="modularization.popup.object"
            objectClass="java.lang.Object">
      <menu
            label="Modularizator"
            id="Modularizator.menu1">
         <separator
               name="group1">
         </separator>
      </menu>
      <action
            id="modularization.object.action1" 
            label="Modularize"
            icon="icons/sample.gif"
            class="modularizator.actions.PackageModularizeAction"
            menubarPath="Modularizator.menu1/group1">
      </action> 
   </objectContribution> 
</extension>

   <!--<extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="modularizator.actionSet"
            label="Sample Action Set"
            visible="true">
         <menu
               id="modularizatorMenu"
               label="Modularizator &amp;Menu">
            <separator
                  name="modularizatorGroup">
            </separator>
         </menu>
         <action
               id="modularizator.actions.PackageModularizeAction"
               class="modularizator.actions.PackageModularizeAction"
               icon="icons/sample.gif"
               label="&amp;Modularize"
               menubarPath="modularizatorMenu/modularizatorMenu"
               toolbarPath="sampleGroup"
               tooltip="Give tips on modularization">
         </action>
      </actionSet>
   </extension>-->
</plugin>
