<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="Modularizator.actionSet"
            label="Sample Action Set"
            visible="true">
         <menu
               id="modularizatorMenu"
               label="Modularizator &amp;Menu">
            <separator
                  name="modularizatorGroup">
            </separator>
         </menu>
         <action
               class="modularizator.actions.PackageModularizeAction"
               icon="icons/sample.gif"
               id="modularizator.actions.PackageModularizeAction"
               label="&amp;Modularize"
               menubarPath="modularizatorMenu/modularizatorMenu"
               toolbarPath="sampleGroup"
               tooltip="Give tips on modularization">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.workingSets">
   </extension>

</plugin>
